

 .navbar-default {
  background-color: #35a4dd;
  border-color: #35a4dd;
}
.navbar-default .navbar-brand {
  color: #feffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #671370;
}
.navbar-default .navbar-text {
  color: #feffff;
}
.navbar-default .navbar-nav > li > a {
  color: #feffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #671370;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #35a4dd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #feffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #671370;
  background-color: #35a4dd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #35a4dd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #671370;
  background-color: #35a4dd;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #671370;
  background-color: #35a4dd;
}
.navbar-default .navbar-toggle {
  border-color: #dcebf9;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #35a4dd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #feffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #feffff;
}
.navbar-default .navbar-link {
  color: #feffff;
}
.navbar-default .navbar-link:hover {
  color: #671370;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #feffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #671370;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #671370;
    background-color: #35a4dd;
  }
}

.h5 {
  color: #35a4dd;
}

.leveltext
{ color: #35a4dd;
}

.content 
{ margin-bottom: 100px ;}

.img-responsive
{ margin-bottom: 10px ;}

#section1{background-color:#24a5de ; color:#fff ; padding-top:10px ; padding-bottom:10px; }
#section2{background-color:#fff; color:#24a5de ; padding-top:10px ; padding-bottom:10px; }
#section3{background-color:#24a5de ; color:#fff ; padding-top:10px ; padding-bottom:10px; }
#section4{background-color:#fff; color:#24a5de ; padding-top:50px ; padding-bottom:10px; }
#section5{background-color:#24a5de ; color:#fff ; padding-top:10px ; padding-bottom:10px; }

.flex-video
{ margin-top: 30px ;margin-bottom: 30px ;}

.navbar-inverse
{ margin-top: 30px ;}

.embed-container 
{ position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 

.embed-container iframe, .embed-container object, .embed-container embed 
{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
